:root {
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #ffffff;
  --primary-font-size: "Roboto", sans-serif;
  --secondary-font-size: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hover-color: #2196f3;
}

/* шрифт лого font-family: 'Raleway', sans-serif; */
/* шрифт всього тексту font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  padding: 0;
  margin: 0 auto;
  color: var(--secondary-text-color);
}

h1 {
  margin: 0px auto;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 auto;
  color: var(--primary-text-color);
}

ul,
li {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.hide-components {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

[class*="container"] {
  max-width: 1170px;
  margin: 0 1 auto;
}

.container {
  display: flex;
  margin: 0px auto;
}

/* header start */

.header {
  background-color: var(--secondary-bg-color);
}

.header-item {
  padding: 32px 0px;
}
.link {
  font-family: var(--primary-font-size);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
  margin-right: 50px;
}

.logo {
  font-family: var(--secondary-font-size);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  margin-right: 95px;
  padding: 25px 0px;
}
.sub-logo {
  color: #2196f3;
}

.contacts {
  margin-left: 0px;
}

.contacts-list {
  margin-left: 281px;
}

.tel-link {
  font-family: var(--primary-font-size);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contacts-list .link,
.contacts-list .tel-link {
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--hover-color);
}

.contacts-item {
  padding: 32px 0px;
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}
.link:active {
  color: rgb(194, 55, 55);
}

/* header end */

/* main container start */

.hero-section {
  background-color: var(--primary-bg-color);
}

.hero {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 594px;
}

.hero-title {
  margin: 200px 237px 30px;
  width: 696px;
  height: 120px;
  font-family: var(--primary-font-size);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-link {
  font-family: var(--primary-font-size);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 485px;
  background-color: #2196f3;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.features {
  display: flex;
  width: 1170px;
  height: 101px;
}

.feature-section {
  display: flex;
  justify-content: space-between;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 94px 0;
  background-color: var(--secondary-bg-color);
}

.features-item {
  width: 270px;
  height: 101px;
  margin: 0 auto;
  padding-right: 30px;
}

.features-title {
  font-family: var(--primary-font-size);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.features-text {
  font-family: var(--primary-font-size);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.work {
  flex-direction: column;
  width: 1170px;
  height: 386px;
  margin-bottom: 94px;
}
.work-title {
  font-family: var(--primary-font-size);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  margin: 0 0;
  align-items: flex-start;
  justify-content: space-between;
}
.work-item {
  margin: 0 0;
}

.team {
  background-color: #f5f4fa;
  height: 648px;
}

.team-title {
  font-family: var(--primary-font-size);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.team .container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  margin: 0 0;
}

.team-item {
  margin-right: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  margin-bottom: 30px;
}

.item-title {
  font-family: var(--primary-font-size);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.item-descriptiom {
  font-family: var(--primary-font-size);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

/* main container end */

/* footer-start */

.footer {
  background-color: var(--primary-bg-color);
  height: 252px;
}
.map-footer:hover,
.addres-footer:hover,
.addres-footer:hover {
  color: #2196f3;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer-sub-logo {
  color: #2196f3;
}

.footer-logo {
  font-family: var(--secondary-font-size);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

.footer-cont {
  margin: 60px 0px 20px 0px;
}

address a {
  font-family: var(--primary-font-size);
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.addres-footer {
  color: rgba(255, 255, 255, 0.6);
}

.address-list {
  margin-top: 0px;
}
.map {
  margin-bottom: 9px;
}
.address-item {
  margin-bottom: 9px;
}

/* footer-end */

/* portfolio */

/* main portfolio content */

.filter {
  margin-top: 94px;
  margin-bottom: 34px;
}

.filter-list {
  display: flex;
  justify-content: flex-start;
}

.filter-button {
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  margin: 0 8px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-text {
  font-family: var(--primary-font-size);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding: 6px 22px;
}

.filter-text:hover {
  color: #ffffff;
}

.content-list {
  margin: 0;
  padding: 0;
  display: block;
  column-count: 3;
}
.content-item:nth-child(3n) {
  margin: 0;
}

.content-item {
  margin-right: 20px;
  margin-bottom: 30px;
  width: 370px;
  height: 400px;
  border: 1px solid #eeeeee;
}

.content-title {
  font-family: var(--primary-font-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin: 20px 24px 4px 24px;
}

.content-text {
  font-family: var(--primary-font-size);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0px 24px 20px 24px;
}

.content {
  margin-bottom: 94px;
}

/* filters start */

/* filters end */ ;
